packages:
  yum:
    mc: []
    mysql: []
    mysql-server: []
    mysql-libs: []

commands:
  04-command:
    command: /etc/init.d/mysqld restart

files:
  "/tmp/shubham.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      #Hi this is just a comment